@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap");

@font-face {
  font-family: Danse-Display;
  src: url("/fonts/DansestudietDisplay1-Bold.otf");
}

@font-face {
  font-family: Danse-Simple-light;
  src: url("/fonts/DansestudietSimple.otf");
}

@font-face {
  font-family: Danse-Simple;
  src: url("/fonts/DansestudietSimple-Bold.otf");
}

:root {
  --blue-500: #196572;
  --blue-100: #c8dadd;
  --white: #ffffff;
  --black: #000000;
  --grey: #313131;
}
* {
  margin: 0;
  padding: 0;
}

main {
  margin-inline: auto;
  max-width: 1200px;
}

h1 {
  font-size: 350px;
  font-family: Danse-Display;
  color: var(--white);
}

h2 {
  font-size: 50px;
  font-family: Danse-Display;
  color: var(--black);
}

h3 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--grey);
}

h4 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--blue-100);
}

p,
address,
li,
a {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--black);
}

h5 {
  font-size: 20px;
  font-family: Danse-Simple-light;
  color: var(--blue-100);
  font-weight: lighter;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  h1 {
    font-size: 90px;
    font-family: Danse-Simple;
    color: var(--white);
  }

  h2 {
    font-size: 26px;
    font-family: Danse-Display;
    color: var(--black);
  }

  h3 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--grey);
  }

  h4 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: var(--blue-100);
  }

  p,
  address,
  li,
  a {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: var(--black);
  }
}
