---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Indhold from "../components/Indhold.astro";
import Nav from "../components/Nav.astro";
import Nyhed from "../components/Nyhed.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout>
  <Nav />
  <header><Hero btext="tilmeld hold" /></header>
  <main>
    <Indhold
      class_variant="intro_container"
      headline="Et mangfoldigt hus med dansen i fokus"
      text1="Opdag et danseunivers, hvor kreativitet og bevægelse forenes. Med mere end 50 ugentlige dansehold, herunder Experimental Contemporary, Afro, House, Street Jazz, og mange flere, tilbyder vi et bredt spektrum for alle aldre og niveauer."
      text2="Du kan deltage i workshops, tage en 1-årig danseuddannelse, se vores elevers forestillinger, du kan leje vores lokaler, eller få et skræddersyet arrangement for din virksomhed."
      variant="video"
      videoSrc="../assets/dansevid.mp4"
      hide_image="not_visible"
    />
    <section class="nyheder">
      <h2>nyheder</h2>
      <div class="nyheder_con">
        <Nyhed
          headline="Månedens Workshop"
          text="Glæd dig til en ekstraordinær workshop denne december! Anna Zacho's afholder en workshop inden for Commercial Dance. Dette enestående arrangement finder sted den 10. december fra kl. 14:00 til 16:00. Tilmeld dig allerede i dag."
          img="../assets/maanedensworkshop.webp"
          btext="tilmeld hold"
        />
        <Nyhed
          headline="Movement lab"
          text="Deltag nu i Vittoria Lasorella’s unikke Movement Lab. Med en kombination af teknik, og udtryk vil du blive guidet af Vittoria og hendes ekspertise for at udforske nye bevægelser inden for dans. Movement Lab finder sted 4-5 februar, begge dage fra kl. 13-16."
          img="../assets/movementlab.webp"
          btext="book plads"
        />
      </div>
    </section>
    <Indhold
      class_variant="undervisere_container"
      headline="Vi har 25 professionelle undervisere"
      text1="I Dansestudiet udvælger vi de mest kompetente og dygtige undervisere indenfor dansebranchen. Alle er nøje udvalgt og bidrager med en specialiseret viden og erfaring indenfor netop deres dansegenre."
      text2="De kommer alle med et stort engagement, hvilket skaber en energi, der gør Dansestudiet til et helt særligt sted. Vi er enormt stolte af vores underviserteam og deres dedikation til dansen."
      variant="img"
      image="./assets/undervisere.webp"
      alt="vores undervisere"
      hide_video="not_visible"
    />
    <section class="testimonials">
      <h2>det siger andre</h2>
      <div class="testimonials_con">
        <Testimonials
          name="Mette, 66 år"
          text="”Jeg har kommet her i mere end 20 år. Jeg kommer her flere gange om ugen, og essensen er at jeg er glad når jeg kommer, og jeg er glad når jeg går.”"
          img="../assets/mette.webp"
        />
        <Testimonials
          name="Elvin, 16 år"
          text="”Jeg er blevet så meget gladere efter jeg er begyndt at danse. Jeg føler mig helt vildt tryg, og alle er bare så søde, og jeg elsker at der bare ikke er noget konkurrence.”"
          img="../assets/elvin.webp"
        />
        <Testimonials
          name="Johanne, 28 år"
          text="”Jeg startede til dans for ni måneder siden, fordi jeg savnede en måde at udtrykke mig på. Nu fylder dans bare hele mit liv, jeg er hernede 7 timer om ugen.”"
          img="../assets/johanne.webp"
        />
      </div>
    </section>
  </main>
  <Footer />
</BaseLayout>

<style>
  /* ******** NYHEDER ******** */
  .nyheder_con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 20px;
  }

  @media (max-width: 800px) {
    .nyheder_con {
      display: flex;
      flex-direction: column;
    }
  }

  /* ******** TESTIMONIALS ******** */

  .testimonials_con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 20px;
  }
  @media (max-width: 800px) {
    .testimonials_con {
      display: flex;
      flex-direction: column;
    }
  }
</style>
