---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Indhold from "../components/Indhold.astro";
import Nav from "../components/Nav.astro";
import Nyhed from "../components/Nyhed.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout>
  <Nav></Nav>
  <header><Hero /></header>
  <main>
    <Indhold class_variant="intro_container" headline="Et mangfoldigt hus med dansen i fokus" text1="Opdag et danseunivers, hvor kreativitet og bevægelse forenes. Med mere end 50 ugentlige dansehold, herunder Experimental Contemporary, Afro, House, Street Jazz, og mange flere, tilbyder vi et bredt spektrum for alle aldre og niveauer." text2="Du kan deltage i workshops, tage en 1-årig danseuddannelse, se vores elevers forestillinger, du kan leje vores lokaler, eller få et skræddersyet arrangement for din virksomhed." variant="video" videoSrc="../assets/dansevid.mp4"/>
    <Nyhed/>
    <Indhold class_variant="undervisere_container" headline="Vi har 25 professionelle undervisere" text1="I Dansestudiet udvælger vi de mest kompetente og dygtige undervisere indenfor dansebranchen. Alle er nøje udvalgt og bidrager med en specialiseret viden og erfaring indenfor netop deres dansegenre." text2="De kommer alle med et stort engagement, hvilket skaber en energi, der gør Dansestudiet til et helt særligt sted. Vi er enormt stolte af vores underviserteam og deres dedikation til dansen." variant="img" image="./assets/undervisere.webp" alt="vores undervisere" />
    <Testimonials/>
    <Button title="tilmeld hold" />
  </main>
  <Footer />
</BaseLayout>
