---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Indhold from "../components/Indhold.astro";
import Nav from "../components/Nav.astro";
import Nyhed from "../components/Nyhed.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <Button title="yummers" />
  </main>
  <Footer />
</BaseLayout>
