---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="forside">
  <main>
    <h1>danse<br />studiet</h1>
    <h2>dansestudiet</h2>
    <h3>dansestudiet</h3>
  </main>
</BaseLayout>
