---
const { title } = Astro.props;
---
<div class="flex">
    <a>{title}</a>
</div>

<style>

.flex{
    display: flex;
    justify-content: center;
}
a{
    color: var(--white);
    font-family: Danse-Simple;
    font-size: 24px;
    padding: 10px 20px;
    gap: 10px;
    background: var(--blue-500);
}
</style>