---
const { title, color } = Astro.props;
---

<div class="flex">
  <a class={color}>{title}</a>
</div>

<style>
  .flex {
    display: flex;
  }
  a {
    color: var(--white);
    font-family: Danse-Simple;
    font-size: 20px;
    padding: 10px 20px;
    gap: 10px;
    background: var(--blue-500);
    transition: 0.3s;
  }

  a:hover {
    color: var(--black);
    background-color: var(--blue-100);
  }

  .white{
    background-color: var(--white);
    color: var(--black);
  }

  @media (max-width: 600px) {
    .flex {
      justify-content: center;
    }

    a {
      width: 100%;
      text-align: center;
    }
  }
</style>
