---
import "../styles/global.css";
---


<footer>
 <div class="container">
  <div class="info">
    <div class="aabningstider">
      <h4>Åbningstider</h4>
      <div class="tider">
      <div class="dag">
        <ol>
          <li>Mandag</li>
          <li>Tirsdag</li>
          <li>Onsdag</li>
          <li>Torsdag</li>
          <li>Fredag</li>
          <li>Lørdag</li>
          <li>Søndag</li>
        </ol>

      </div>
      <div class="tid">
        <ol>
          <li>09:00 - 21:00</li>
          <li>09:00 - 21:00</li>
          <li>16:00 - 21:00</li>
          <li>08:00 - 17:30</li>
          <li>08:00 - 17:30</li>
          <li>10:00 - 11:00</li>
          <li>Lukket</li>
        </ol>

      </div>
    </div>
    </div>
    <div class="kontakt">
      <h4>Kontakt</h4>
      <p><a href="mailto:Info@dansestudiet.dk">E-mail: Info@dansestudiet.dk</a></p>
      <p><a href="tel:+40102229">Telefon: 40 10 22 29</a></p><br>
      <p>CVR-nummer: 41 18 687</p>
    </div>
    <div class="lokation">
      <h4>Lokation</h4>
      <address>Dansestudiet Aarhus<br>
        Bissensgade 14 B<br>
        8000 Århus C</address>
      </div>

  </div>
  <div class="container_icons">
    <div class="logo_footer">
      <a href="index"><img src="../assets/logo.svg" alt="link til facebook"></a>
      <h5>Dansestudiet</h5>
    </div>
    <div class="link_icons">
    <a href="https://www.facebook.com/dansestudiet/"><img src="../assets/facebook.svg" alt="link til facebook"></a>
    <a href="https://www.instagram.com/dansestudietaarhus/"><img src="../assets/instagram.svg" alt="link til instagram"></a>
    <a href="https://www.youtube.com/channel/UCUhTtsxE9xQOeiYtkX7MiIA"><img src="../assets/youtube.svg" alt="link til youtube"></a>
    <a href="https://www.google.com/maps/place/Dansestudiet/@56.1552899,10.1967772,15z/data=!4m5!3m4!1s0x0:0x386d07f042c20429!8m2!3d56.1551916!4d10.196833"><img src="../assets/maps.svg" alt="link til google maps"></a>
    </div>
  </div>

 </div> 
  
    <style>
      /*-----generel style-----*/
      p, address, li, a {
        color: var(--blue-100);
  }
      .container {
        background-color: var(--black);
        padding: 20px;
        display: grid;
        grid-template-columns: fit-content;
        
      }
      
      h4 {
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
      }
      address {
        font-style:initial;
      }
      li {
        list-style: none;
      }

      /*------ info -----*/
    
      .tider {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      .info {
        gap: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
      }
      /*-------- icons ------*/
      .container_icons {
        display: flex;
        flex-direction: column;
        justify-self: center;
        gap: 20px;
        padding-top: 50px;

      }
      .logo_footer {
        display: flex;
        flex-direction: column;
      }
      .logo_footer a, .logo_footer h5 {
        align-self: center;
      }

      .link_icons {
        display: flex;
        gap: 10px;

      }

      /*----mobil format ----*/

      @media (max-width: 800px) {
        .info {
        display: flex;
        flex-direction: column;        
      }

      .aabningstider, .kontakt, .lokation {
        width: 220px;
        align-self: center;
      }

      }

      
    </style>
  </footer>
  