---
import "../styles/global.css";
---


<footer>
 <div></div>
  
    <style>
      .footer_line {
        aspect-ratio: 1423/66;
        width: 100%;
        height: 100%;
      }
      footer {
        margin-top: 20px;
      }
      .textalign_center {
        text-align: center;
      }
      .grid_tilmeld_mail {
        text-align: center;
      }
  
      .åbningstider_margin {
        margin-top: 40px;
        text-align: center;
      }
      .some_logo {
        aspect-ratio: 1/1;
        width: 10%;
        height: 10%;
        display: inline;
      }
      h2 {
        margin-bottom: 10px;
        margin-top: 50px;
      }
      .footer_knap {
        margin-top: 63px;
        grid-column: 2/3;
        grid-row: 2/3;
      }
      .footer_man_size {
        aspect-ratio: 851/976;
        width: 80%;
        margin: auto;
        margin-top: 60px;
        height: 80%;
      }
      a {
        text-decoration: none;
        color: var(--blue);
      }
  
      /*********** INPUT ***********/
      input {
        border: none;
        height: 30px;
        font-family: "brandon-grotesque", sans-serif;
        font-size: 1.3rem;
        color: var(--blue);
        background-color: var(--background_light);
        margin-top: 20px;
        margin-left: -103px;
      }
  
      hr {
        width: 63%;
        margin-left: 88px;
      }
      input:focus {
        outline: none;
      }
  
      input::placeholder {
        color: var(--blue);
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
      }
      /*********** MEDIA QUERY ***********/
      @media (min-width: 1100px) {
        /*********** GRID ***********/
        .grid_footer {
          display: grid;
          grid-template-columns: 1fr 1fr 3fr 1fr;
          margin-left: 10px;
        }
        .textalign_center {
          text-align: left;
          margin-left: 40px;
        }
        .textalign_center h2 {
          text-align: left;
        }
        .grid_tilmeld_mail {
          display: grid;
          grid-template-columns: 3fr 1fr;
          grid-template-rows: 1fr 2fr;
          margin-left: 40px;
          gap: 20px;
          padding-left: 70px;
        }
        .grid_tilmeld_mail h2 {
          float: left;
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .footer_knap {
          margin-top: 0;
        }
        .input {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        /*********** SIZE ***********/
  
        .some_logo {
          aspect-ratio: 1/1;
          width: 15%;
          height: 15%;
          display: inline;
        }
        .åbningstider_margin,
        .tilmeld_margin {
          margin-top: 0;
        }
        .footer_man_size {
          width: 100%;
          float: right;
        }
        .grid_tilmeld_mail {
          text-align: left;
        }
  
        input {
          margin-left: 0;
        }
        hr {
          width: 90%;
          margin-left: 0;
        }
      }
    </style>
  </footer>
  