---
import "../styles/global.css";
import Button from "./Button.astro";
const { btext } = Astro.props;
---

<section class="con">
  <div class="wrap">
    <h1 class="overskrift">Danse<br />studiet</h1>
    <div class="button">
      <Button title={btext} color="white" />
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-image: url("../assets/hero.webp");
    background-size: cover;
    background-position: center 10%;
    align-items: center;
  }

  .overskrift {
    line-height: 80%;
  }
  .button {
    display: flex;
    justify-content: center;
    padding-block: 20px;
  }

  .wrap {
    display: flex;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    flex-direction: column;
    gap: 30px;
  }
  h1 {
    font-size: 20vmax;
  }

  .con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media (max-width: 600px) {
    .overskrift {
      text-align: center;
    }
  }
</style>
