---
import "../styles/global.css";
---

<section>
  <h1 class="overskrift">Danse<br />studiet</h1>
</section>

<style>
  section {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/hero.webp");
    background-size: cover;
  
  }

  .overskrift {
    text-align: center;
    line-height: 82%;
    margin: auto;
    top: 50px;

  }
</style>

@media (max-width: 600px) {
    <style>
  section {
    height: 100vh;
    width: 320vh;
    background-image: url("../assets/hero.webp");
    background-size: cover;
    background-position: center;
  }

  .overskrift {
    text-align: center;
  }

</style>
}
