---
---

<button id="burger-menu">
  Menu
  <span></span>
</button>

<nav id="menu">
  <ul>
    <li><a href="/UNDERVISERE">UNDERVISERE</a></li>
    <li><a href="/TILMELDING">TILMELDING</a></li>
    <li><a href="/PRAKTISK">PRAKTISK</a></li>
    <li><a href="/KONTAKT">KONTAKT</a></li>
  </ul>
</nav>
<script>
  const burgerMenu = document.querySelector("#burger-menu");
  const menu = document.querySelector("#menu");

  burgerMenu.addEventListener("click", function () {
    burgerMenu.classList.toggle("close");
    menu.classList.toggle("overlay");
  });
</script>
<style>
  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: relative;
    z-index: 2;
  }

  #burger-menu {
    display: block;
    margin: 0;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: var(--white);
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: var(--black);
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: var(--black);
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
    background: var(--black);
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: var(--black);
  }
  #menu ul {
    padding: 0;
  }
  #menu li {
    list-style: none;
    /* display: initial; */

    color: var(--white);
  }
  #menu li a {
    color: var(--white);
    /* display: block; */
    font-size: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: var(--blue-100);
  }
</style>
