---
const { name, text, img } = Astro.props;
---

<div class="con">
  <img src={img} alt="" />
  <h3>{name}</h3>
  <p><i>{text}</i></p>
</div>
<style>
  .con {
    width: 340px;
  }

  @media (max-width: 600px) {
    h3 {
      text-align: center;
    }
  }
</style>
